body {
background-color: tan; 
color: black;
font-family: 'Montserrat','Courier New', Courier, monospace;
padding: 20px;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#Experience ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  #Experience ul li {
    flex: 1;
    text-align: center;
  }
  
section {
    margin: 20px auto;
    max-width: 700px
}

h2, h3{
    display: inline-block;
    background-color: rgb(238, 181, 160);
    border-top: 2px solid #100f0f;
    border-bottom: 2px solid #100f0f;
    padding-bottom: 5px;
}

body h1 {
    display: inline-block;
    background-color: rgb(238, 181, 160);
    font-weight: bold;
    font-size: 30px;
}

body h2 {
    font-size: 20px;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    list-style-type: none;

}