body {
background-color: tan; 
color: black;
font-family: 'Montserrat','Courier New', Courier, monospace;
padding: 20px;

}

ul {
    display: flex;
    flex-direction: row;
  }
  
section {
    margin: 40px auto;
    max-width: 700px
}

h1, h2, h3{
    display: inline-block;
    background-color: rgb(238, 181, 160);
    border-top: 2px solid #100f0f;
    border-bottom: 2px solid #100f0f;
    padding-bottom: 5px;

}

h1 {
    display: inline-block;
    background-color: rgb(238, 181, 160);
    font-weight: bold;
    font-size: 30px;
}

body h2 {
    font-size: 20px;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: black;    
    list-style-type: none;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
/* NAV/Experience / Skills / Projects */

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }

#Experience ul,
#Skills ul,
#Projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
#Experience li,
#Skills li,
#Projects li {
  flex: 1 1 150px;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}